.blur {
  -webkit-animation: blur 7s infinite;
}

@-webkit-keyframes blur {
  0%, 100%  { -webkit-filter: blur(0px); }
  50% { -webkit-filter: blur(10px); }
}

.hue {
  -webkit-animation: hue 7s infinite;
}

@-webkit-keyframes hue {
  0%, 100%  { -webkit-filter: hue-rotate(0deg); }
  50% { -webkit-filter: hue-rotate(180deg); }
}

.saturate {
  -webkit-animation: saturate 7s infinite;
}

@-webkit-keyframes saturate {
  0%, 100%  { -webkit-filter: saturate(1); }
  50% { -webkit-filter: saturate(10); }
}

.brightness {
  -webkit-animation: brightness 7s infinite;
}

@-webkit-keyframes brightness {
  0%, 100%  { -webkit-filter: brightness(1); }
  50% { -webkit-filter: brightness(10); }
}

.omgwtfbbq {
  -webkit-animation: omgwtfbbq 7s infinite;
}

@-webkit-keyframes omgwtfbbq {
  0%, 100%  { -webkit-filter: blur(0px) brightness(1) hue-rotate(0deg) saturate(1); }
  50% { -webkit-filter: brightness(10) blur(10px) hue-rotate(180deg) saturate(10); }
}
