@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide img {
  min-width: 110%;
  min-height: 110%;
  width: 110%;
  height: 110%;
  margin: -5% 0 0 -5%;
}