@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide img {
  min-width: 110%;
  min-height: 110%;
  width: 110%;
  height: 110%;
  margin: -5% 0 0 -5%;
}

/* Filter effects */
.blur {
  animation: blur 5s infinite;
}

@keyframes blur {

  25%,
  75% {
    filter: blur(0);
  }

  0%,
  100% {
    filter: blur(10px);
  }
}

.hue {
  animation: hue 5s infinite;
}

@keyframes hue {

  25%,
  75% {
    filter: hue-rotate(0deg);
  }

  0%,
  100% {
    filter: hue-rotate(180deg);
  }
}

.saturate {
  animation: saturate 5s infinite;
}

@keyframes saturate {

  25%,
  75% {
    filter: saturate(1);
  }

  0%,
  100% {
    filter: saturate(10);
  }
}

.brightness {
  animation: brightness 5s infinite;
}

@keyframes brightness {

  25%,
  75% {
    filter: brightness(1);
  }

  0%,
  100% {
    filter: brightness(10);
  }
}

.omgwtfbbq {
  animation: omgwtfbbq 5s infinite;
}

@keyframes omgwtfbbq {

  25%,
  75% {
    filter: blur(0) brightness(1) hue-rotate(0deg) saturate(1);
  }

  0%,
  100% {
    filter: blur(10px) brightness(10) hue-rotate(180deg) saturate(10);
  }
}

/* Movement effects */
.pulse {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  25% {
    transform: scale(0.5);
  }

  75% {
    transform: scale(1);
  }
}

.rotate {
  animation: rotate 3s infinite;
}

@keyframes rotate {
  25% {
    transform: rotate(-25deg);
  }

  75% {
    transform: rotate(25deg);
  }
}

.sink {
  animation: sink 3s infinite;
}

@keyframes sink {
  25% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-15px);
  }
}

.wobble {
  animation: wobble 1s ease-in-out infinite;
}

@keyframes wobble {
  16.65% {
    transform: skew(-12deg);
  }

  33.3% {
    transform: skew(10deg);
  }

  49.95% {
    transform: skew(-6deg);
  }

  66.6% {
    transform: skew(4deg);
  }

  83.25% {
    transform: skew(-2deg);
  }

  100% {
    transform: skew(0);
  }
}